body {
  margin: 0;
  padding: 0;
}

.app {
  font-family: 'Roboto', sans-serif;
}

.bar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #1f2532;
  color: #dbb108;
  padding: 5px;
}

.note-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: flex-start;
  flex-wrap: wrap;
  background: #F9F9FB;
}

.note-card {
  z-index: 1;
  position: relative;
  width: 22%;
  height: 220px;
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  font-size: 12px;
  box-shadow: 2px 2px 5px;
}

.card-bar {
  list-style: none;
  margin: 0;
  padding: 15px 10px 10px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  -webkit-flex-flow: row wrap;
  font-size: 18px;
  border-bottom: 1px solid #ebebf4;
}

.card-bar span {
  text-decoration: none;
  color: black;
}

.icon:hover {
  opacity: 0.5;
  cursor: pointer;
}

.card-title {
  padding-right: 10px;
  font-size: 16px;
}
.card-desc {
  padding: 10px;
  white-space: pre-wrap;
}

input:focus {
  outline: 0
}

textarea:focus {
  outline: 0
}

form textarea {
  font-size: 13px;
  resize: none;
  border: 0;
  width: 100%
}

.custom-radios div {
  display: inline-block;
}
.custom-radios input[type="radio"] {
  display: none;
}

.custom-radios input[type="radio"] + label span {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 15%;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
  text-align: center;
}

.custom-radios input[type="radio"]:checked + label span {
  border: 1.5px outset #aab1b5;
}

.custom-radios input[type="radio"]#colorChoiceRed + label span {
  background-color: #e74c3c;
}
.custom-radios input[type="radio"]#colorChoiceGreen + label span {
  background-color: #2ecc71;
}
.custom-radios input[type="radio"]#colorChoiceYellow + label span {
  background-color: #dbb108;
}
.custom-radios input[type="radio"]#colorChoiceBlue + label span {
  background-color: #3498db;
}
.custom-radios input[type="radio"]:checked + label span img {
  opacity: 1;
}

.MJButton {
  height: 40px;
  width: 100px;
  border-radius: 5px;
  font-size: 12px;
  border: 0;
  font-family: 'Roboto', sans-serif;
}

.MJButton:hover {
  cursor: pointer;
}

.gray {
  color: white;
  background-color: gray;
}

.teal {
  color: white;
  background-color: #66c4cc;
}

#title-input {
  margin: 10px 0 10px 0;
  border: 0px;
  font-size: 18px;
  font-style: italic;
}

.footer-background {
  width: 100%;
  height: 80px;
  background-color: #FAFAFA;
  position: absolute;
  border-radius: 0 0 5px 5px;
  bottom: 0;
  left: 0;
}

.footer {
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.icon {
  font-size: 20px
}
